<style type="text/css">
  table {
    border-collapse: collapse;
  }
  td, th {
    border: 1px solid;
    padding: 5px;
  }
  caption {
    border: 1px solid;
    border-bottom: none;
    padding: 5px;
  }
</style>

<table>
  <caption>Customer Info</caption>
  <tr>
    <td>Customer ID</td>
    <td><%= customerId %></td>
  </tr>
  <tr>
    <td>Name</td>
    <td><%= customerFirstName %> <%= customerLastName %></td>
  </tr>
  <tr>
    <td>Title</td>
    <td><%= customerTitle %></td>
  </tr>
  <tr>
    <td>Email</td>
    <td><%= customerEmail %></td>
  </tr>
</table>
