<style type="text/css">
  .container {
    text-align: center;
  }
</style>

<div class="container">
  <h4>Price file for customer #<%= customerId %> attached</h4>
  <h4><%= customerFirstName %> <%= customerLastName %></h4>
  <h4><%= customerTitle %></h4>
  <h4><%= customerEmail %></h4>
</div>
