<% include ./partials/success %>
<% include ./partials/messages %>
<form id="form" method="POST" action="/pricefiles">
  <fieldset>
    <legend>User Info</legend>
    <div class="form-group">
      <label for="userEmail">Email address</label>
      <input 
        type="text"
        name="userEmail"
        id="userEmail"
        class="form-control form-control-sm"
        aria-describedby="userEmailHelp"
        placeholder="test@test.com"
        value="<%= typeof userEmail != 'undefined' ? userEmail : '' %>">
      <small id="userEmailHelp" class="form-text text-muted">You do not need to use a real email address.  This is for demo purposes only (Ex: test@test.com)</small>
    </div>
  </fieldset>
  <fieldset class="form-group">
    <legend>Customer Info</legend>
    <div class="form-group">
        <label for="sap-id">Customer ID #</label>
        <input
          type="number"
          name="customerId" 
          id="customerId"
          class="form-control form-control-sm"  
          aria-describedby="customerIdHelp" 
          placeholder="21121000"
          value="<%= typeof customerId != 'undefined' ? customerId : '' %>">
          <small id="customerIdHelp" class="form-text text-muted">Must be 8 digits</small>
      </div>
    <div class="form-group">
      <label for="customerFirstName">First Name</label>
      <input
        type="text" 
        name="customerFirstName" 
        id="customerFirstName"
        class="form-control form-control-sm"  
        aria-describedby="customerFirstNameHelp" 
        placeholder="John"
        value="<%= typeof customerFirstName != 'undefined' ? customerFirstName : '' %>">
    </div>
    <div class="form-group">
      <label for="customerLastName">Last Name</label>
      <input
        type="text"
        name="customerLastName" 
        id="customerLastName"
        class="form-control form-control-sm"  
        aria-describedby="customerLastNameHelp" 
        placeholder="Smith"
        value="<%= typeof customerLastName != 'undefined' ? customerLastName : '' %>">
    </div>
    <div class="form-group">
      <label for="customerEmail">Customer Email address</label>
      <input
        type="text"
        name="customerEmail" 
        id="customerEmail"
        class="form-control form-control-sm" 
        aria-describedby="emailHelp" 
        placeholder="test@test.com"
        value="<%= typeof customerEmail != 'undefined' ? customerEmail : '' %>">
      <small id="emailHelp" class="form-text text-muted">You do not need to use a real email address.  This is for demo purposes only (Ex: test@test.com)</small>
    </div>
    <div class="form-group">
      <label for="customer-title">Title</label>
      <input 
        name="customerTitle" 
        type="text" 
        class="form-control form-control-sm" 
        id="customer-title" 
        aria-describedby="customer-title_help" 
        placeholder="Pricing Analyst"
        value="<%= typeof customerTitle != 'undefined' ? customerTitle : '' %>">
    </div>
  </fieldset>
  <button id="form-submit" class="btn btn-primary" type="submit">Submit</button>
</form>